* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
body {
  color: #b3b3b3;
  background: rgb(20,20,20);
  padding: 0 4%;
  font-size: 16px;
}
